{% extends "Extra/Base.htm" %}
{% block title %}
	About CrimeHeist
{% endblock %}
{% block content %}<br /><br />
<style type="text/css">
.text{
	color:white;
	font-size:70px;
	animation:ease-in-out labelexist 20s infinite;
}

@keyframes labelexist{
	0%{
		font-size:60px;
	}
	20%{
		font-size:70px;
		color:gray;
	}
	40%{
		font-size:60px;
	}
	60%{
		font-size:70px;
		color:white;
	}
	80%{
		font-size:60px;

	}
	100%{
		font-size:70px;
		color:lightgray;
	}
}

.img-fluid{
	height:50%;
	width:100%;
}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	color:red;
}

@media(min-width:768px){
			
				#email{
								font-size:0.49cm;
				}
				#whatsapp{
								font-size:0.6cm;
				}
}
</style>

<div class="container" >
<div class="row" >
	<div class="col-md-25 " >
<div class="text-secondary  my-5 pb-5 mb-5 breadcrumb h3">
    <span class="h2 text-dark text-center text-uppercase" >About us</span>
    Hi, And Welcome to CrimeHeist the only website that provide you with accurate, updated News,Sport Actions, Entertainment Activity as it goes on.<br />
    CrimeHeist is a newly established website with only one goal which is providing you our user with Information which is up-to-date with the world. <br />
	</div>
	</div>
	
	<div class="col-md-25" >
	 <div class=" text-secondary my-5  h3" >					
	<span class="h2 text-center text-dark font-weight-bolder" >Areas we Cover on CrimeHeist</span><br /><br />
	<p>

	Sport Includes All Form of league <div class=" card text-center">
	    
	(La liga,<br /> BundeLiga,<br /> Premier league <br /> and so much more).
	<br>
	</div>
	</p>
	<p>
	News Including all Form of News with a perfect filter to help you with smooth and easy movement arounf the news section.<div class="card text-center">
	    Form Of News on CrimeHeist Include <br />(Crime,<br /> Security,<br /> Education,<br /> Politics and so on).
	<br />
	</div>
	</p>
	Entertainment 
	</div>
</div>
	</div></div></div>
</section>
<!-- Footer Links -->
<!-- Copyright -->
{% endblock %}