{% extends 'Extra/Base.htm' %}
{% block title %}
    Fashion News
{% endblock %}
{% block content %}<br /><br /><br />
      <style type="text/css" media="all">
          .category{
              min-width: 5.5cm;
              height: 39.6px;
              overflow-y: auto;
              overflow-x: hidden;
          
          }
      </style>
      <div class="text-center category">
      {% for category in category %}
          <button class="bg-dark btn btn-outline-primary" type="submit">
              <a style="text-decoration:none;" class="text-white" href="{% url 'fashion:fashioncate' pk=category.pk %}">
                  {{category.category}}
              </a>
          </button>
      {% endfor %}
      </div><br />
  <div class="card-img-top" >
    {% for Fashion in Fashion %}
        <!--a href={{Fashion.feature_image.url}}><img class="img-thumbnail"   style="float:left;height:130px; width:98px; margin-right:7px;"   src="{{Fashion.feature_image.url}}"></a-->
        {% if user.is_authenticated %}
        <div class="" style="float:;" >

        <script type="text/javascript">
$(document).on('submit','#save', function(e){
	e.preventDefault();
	$.ajax({
		type:"POST",
		url:"{# url 'fashion:savenews' #}",
		data:{
			value:$("#savenews").val(),
			csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
		},
		success:function(data){
			alert(data)
		}
	});
	document.querySelector("#values").value = "";
});
</script>
{% endif %}
            <small style=" margin-left:15px;color:red;">
               {{Fashion.published|timesince}} ago </small><br />
            <small>{{Fashion.title}}</small><br />
            <i class="fa fa-eye">{{Fashion.views}}</i>
            <button style="margin-left:192px;" class="btn btn-outline-primary"><a style="text-decoration:none;color:rgb(233,120,50)" href="{% url 'fashion:fashionview' title=Fashion.title headline=Fashion.headline pk=Fashion.pk %}">Read More</a></button>
        </div><hr class ="clearfix w-100 d-md-none pb-2" style="border-radius:12px;">
    {% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
   	{% if page_obj.has_previous %}
    <li class="page-item">
		<a class="page-link" href="?page=1" aria-label="Previous">
  			<span aria-hidden="true">&laquo;</span>
		</a>
    </li>
    {% endif %}
	
	<li class="page-item" ><a class="page-link" >{{ page_obj.paginator.num_pages }}</a></li>
	{% if page_obj.has_next %}
    <li class="page-item">
		<a class="page-link" href= "?page={{ page_obj.next_page_number }}" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
    </li>
    {% endif %}
  </ul>
</nav>
  </div><br /><br />
{% endblock %}