<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
  <meta name ="description" content ="We  help you get latest news and sport action all as it get out  ">
<meta name ="keywords" content ="Blog, News, Sport, Football, Table Tennis, Wrestling, WWE">
<meta name ="author" content ="Brilliant Makanju">
  <!-- Site Metas -->
  {% load static %}
 
  <link rel="shortcut icon" href="{% static 'img/logo/crimeheist.png' %}" type="images/x-icon" />
   <title>{% block title %}{% endblock %}</title>
</head>
<style type="text/css" media="all">
    body{
        background-color: #a5b5c5;
        
    }
</style>
    {% load static %}
    <link rel="" href="{% static 'glyphicons-halflings-regular.svg' %}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
	<script src="{% static 'css/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
    <!--body>
        {# block content #}
            
        {# endblock #}
    </body-->
  <body>
    <!-- Navigation -->
    
    

    
    <section>
      <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top navbar-light bg-light">
        <a href="{% static 'img/logo/crimeheist.png' %}" class="navbar-brand">CrimeHeist</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
          <!-- TODO: add acitve changer in js to highlight the current page -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'crimepost:crimeall' %}">
                News
            </a>
        </li>
         <li class="nav-item">
             <a class="nav-link" href="{% url 'sport:sportnews' %}">Sport</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="{% url 'entertain:entertainnews' %}">
                 Entertainment
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="{% url 'blog:blog' %}">
                 Blog
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="{% url 'fashion:fashionnews' %}">
                 Fashion/Beauty
             </a>
         </li>
        {% if user.is_staff %}
          <li class="nav-item">
              <a class="nav-link" href="door">Dashboard</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
      <!--ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Saved
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Saved News</a></li>
            <li><a class="dropdown-item" href="#">
                Saved Sport News
            </a></li>
            <li><a class="dropdown-item" href="#">
                Saved Entertainment News
            </a></li>
            <li><a class="dropdown-item" href="#">
                Saved Beauty/Fashion News
            </a></li>
          </ul>
        </li>
      </ul-->
    
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account:setting' %}">
                      Settings
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-danger" href="{% url 'account:logout' %}">
                      Logout
                  </a>
              </li>
          {% endif %}
          <!--li class=""><a href="{# url 'blog:category-listview' #}" class="text-white">categories</a></li>
          <li class=""><a href="{# url 'blog:tag-listview' #}" class="text-white">Tags</a></li>
          <li class=""><a href="#" class="text-white">About</a></li-->
          
          </ul>
        </div>
      </nav>
    </section>
    <!-- Navigation end -->
    <div class="container-fluid top-margin">
   {% block content %}

   {% endblock %}
    <noscript>
          Please Enable JavaScript so as to enjoy full access and feature on CrimeHeist
      </noscript>
   
      
    </div>
    <!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-facebook"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://CrimeHeist@gmail.com" role="button"
        ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-linkedin"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column->
          <div class="col-md-5 col-12">
            <!-- Email input ->
            <div class="form-outline form-white mb-4">
                <form class="newletter" >
                    {% csrf_token %}
                    <input style="margin-bottom:10px;" class="form-control" type="email" name="value" id="newsletterinput" required="required"/>
                    <div class="column--">
                    <button class="btn btn-outline-light mb-4" style=""  type="submit">Join NewsLetter</button>
                </form>
                </div>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
        <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-3">
      <p>
        Here on CrimeHeist we provide you with latest News, Education, Beauty, Entertainment, Fashion) and Sport(Football, Wrestling, Tennis, Swimming) Updates <!--Entertainment, Beauty Updates <!-trends, news, sport action, beauty, fashion and entertainment --> all in one on our Website click here to 
        
        <div class="column--">
            <a class="btn btn-outline-light " href="{% url 'account:About' %}">Read more</a>
        </div>
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Useful Links</h5>

          <ul class="list-unstyled mb-0">
              <li class=""><a href="{% url 'crimepost:crimeall' %}" class="nav-link text-white">Home</a></li>
              <li class=""><a href="{% url 'sport:sportnews' %}" class="nav-link text-white">Sport</a></li>
            <li class="">
             <a class="nav-link text-white" href="{% url 'entertain:entertainnews' %}">
                 Entertainment
             </a>
         </li>
             <li class="">
             <a class="nav-link text-white" href="{% url 'fashion:fashionnews' %}">
                 Fashion/Beauty
             </a>
         </li
         
              <li class=""><a href="{% url 'blog:blog' %}" class="nav-link text-white">Blog</a></li>
              {% if user.is_authenticated %}
              <li class=""><a href="{% url 'account:logout' %}" class="nav-link text-danger ">Logout</a></li>
              {% endif %}
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Website Info</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'account:contactus' %}" class="nav-link text-white">Contact Us</a>
            </li>
            <li>
              <a href="{% url 'account:About' %}" class="nav-link text-white">About Site</a>
            </li>
            <li>
              <a href="{% url 'account:card' %}" class="nav-link text-white">Profile Card</a>
            </li>
            <li class="">
                <a class="nav-link text-white" href="{% url 'account:card' %}">
                    Hire Developer
                </a>
            </li>
            <!--li>
              <!--a href="#!" class="text-white">Link 4</a->
            </li-->
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <script type="text/javascript">
$(document).on('submit','.newletter', function(e){
	e.preventDefault();
	$.ajax({
		type:"POST",
		url:"{% url 'subscribers:newsletter' %}",
		data:{
			value:$("#newsletterinput").val(),
			csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
		},
		success:function(data){
			alert(data)
		}
	});
	document.querySelector("#newsletterinput").value = "";
});
</script>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©2021 Copyright:
    <a class="nav-link text-white" href="https://crimeheist.herokuapp.com">CrimeHeist</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    <!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>