{% extends 'Extra/Base.htm' %}
{% block title %}
    {{Blog.btitle}}
{% endblock %}
{% block content %}<br /><br /><br />
    <div class="card text-center">
        <!--img style="height:250px" class="card img-responsive img-thumbnail" src="{{Blog.bpic.url}}"  alt="" /-->
            <small style="margin-left:15px;color:red;">
               <span class="fa fa-clock-o"></span>{{Blog.created|timesince}} ago </small>
    </div><br />
        <div class="card" style="float:; margin-top:5px;" ><br />
            {{Blog.bpost|safe}}
        </div><hr class ="clearfix w-100 d-md-none pb-2" style="border-radius:12px;">
        <hr />
        <div class="">
           
                        <script type="text/javascript">
$(document).on('submit','.heart', function(e){
	e.preventDefault();
	$.ajax({
		type:"POST",
		url:"{% url 'blog:lovepost' %}",
		data:{
			pk:$(".pk").val(),
			csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
		},
		
		success:function(response){
			//if response.liked == True{
			    //document.querySelector("#likies").style.color = "red";
			    //alert("You liked it");
			//}else{
			 //   alert("Eya");
			//}
			selector = document.querySelector("#likies")
			if (response.liked == true){
			    $("#hearts").css("color", "red");
			    $("#hearts").addclass("fa fa-heart-o")
			  //  $("#hearts").html("class='fa fa-heart-o'")
			    $(".heartvalue").html(response.heartcount)
			}
			else{
			    $("#hearts").css("color","gray")
			    $(".heartvalue").html(response.heartcount)
			}
		}
	});
	document.querySelector("#values").value = "";
});
</script>
            <form class="heart">
            {% if user in Blog.heart.all %}
            <button  style="float:left;border-color:transparent;outline:none;background:transparent;"  class="pk"  type="submit" value="{{Blog.pk }}"  name="pk"  >
                <i id="hearts" style="color:red;font-size:49px;" class="fa fa-heart"  ><sub class="heartvalue" style="font-size:11px;">{{ Blog.heart.count }}</sub></i></button>
            {% else %}
            <button  style="float:left;border-color:transparent;outline:none;background:transparent;"  class="pk"  type="submit" value="{{Blog.pk }}"  name="pk"  >
                <i id="hearts" style="color:;font-size:49px;" class="fa fa-heart-o"  ><sub class="heartvalue"style="font-size:11px;">{{ Blog.heart.count }}</sub></i></button>
            {% endif %}
            </form>
            <script type="text/javascript">
$(document).on('submit','.hate', function(e){
	e.preventDefault();
	$.ajax({
		type:"POST",
		url:"{% url 'blog:hatepost' %}",
		data:{
			pk:$(".pk").val(),
			csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
		},
		
		success:function(response){
			//if response.liked == True{
			    //document.querySelector("#likies").style.color = "red";
			    //alert("You liked it");
			//}else{
			 //   alert("Eya");
			//}
			selector = document.querySelector("#likies")
			if (response.liked == true){
			    $("#haties").css("color", "blue");
			    $(".hatevalue").html(response.hatecount)
			}
			else{
			    $("#haties").css("color","gray")
			    $(".hatevalue").html(response.hatecount)
			}
		}
	});
	document.querySelector("#values").value = "";
});
</script>
            <form class="hate">
            {% if user in Blog.hate.all %}
            <button  style="float:left;border-color:transparent;outline:none;background:transparent;"  class="pk"  type="submit" value="{{Blog.pk }}"  name="pk"  >
                <i id="haties" style="color:rgb(42,49,149);font-size:49px;" class="fa fa-thumbs-down"  ><sub class="hatevalue" style="font-size:11px;">{{ Blog.hate.count }}</sub></i></button>
            {% else %}
            <button  style="float:left;border-color:transparent;outline:none;background:transparent;"  class="pk"  type="submit" value="{{Blog.pk }}"  name="pk"  >
                <i id="haties" style="color:;font-size:49px;" class="fa fa-thumbs-o-down"  ><sub class="hatevalue" style="font-size:11px;">{{ Blog.hate.count }}</sub></i></button>
            {% endif %}
            </form>
<script type="text/javascript">
$(document).on('submit','.like', function(e){
	e.preventDefault();
	$.ajax({
		type:"POST",
		url:"{% url 'blog:likepost' %}",
		data:{
			pk:$(".pk").val(),
			csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
		},
		
		success:function(response){
			//if response.liked == True{
			    //document.querySelector("#likies").style.color = "red";
			    //alert("You liked it");
			//}else{
			 //   alert("Eya");
			//}
			selector = document.querySelector("#likies")
			if (response.liked == true){
			    $("#likies").css("color", "blue");
			    $(".likevalue").html(response.likecount)
			}
			else{
			    $("#likies").css("color","gray")
			    $(".likevalue").html(response.likecount)
			}
		}
	});
	document.querySelector("#values").value = "";
});
</script>
            <form class="like" >
                {% csrf_token %}
            {% if user in Blog.likes.all %}
            <button  style="float:left;border-color:transparent;outline:none;background:transparent;"  id="pk"  type="submit" value="{{Blog.pk }}"  name="pk" you >
                <i id="likies" style="color:rgb(12,56,212);font-size:49px;" class="fa fa-thumbs-up"  ><sub class="likevalue" style="font-size:11px;">{{ Blog.likes.count }}</sub></i></button>
            {% else %}
            <button  style="float:left;border-color:transparent;outline:none;background:transparent;"  class="pk"  type="submit" value="{{Blog.pk }}"  name="pk"  >
                <i id="likies" style="font-size:49px;" class="fa fa-thumbs-o-up"  ><sub class="likevalue" style="font-size:11px;">{{ Blog.likes.count }}</sub></i></button>
            {% endif %}
            </form>

                
              <button  style="float:left;border-color:transparent;outline:none;background:transparent;"  class="pk"  type="submit" value="{{Blog.pk }}"  name="pk"  ><i style="font-size:49px;" class="fa fa-eye" ><sub style="font-size:11px;" >{{Blog.views }}</sub></i></button>
        </div><br /><br /><hr />
    <h3 class="text-center">Comments {% if commentcount %}
                <i style="font-size:49px;" class="fa fa-comment-o">
                    <sub style="font-size:11px;">{{commentcount}}
                    </sub>
                </i>
            {% endif %}
        </h3>
            <br />
    <div class="comment card-img-top">
        {% for comment in comments %}
            <a class="" href="{{comment.cmaster.profile.profilepic.url}}">
                <img class="img-thumbnail" src="{{comment.cmaster.profile.profilepic.url}}" style="float:left;height:130px; width:98px; margin-right:7px;"   alt="" />
                </a><a style="text-decoration:none;" class="text-secondary" href=
                "{% url 'account:viewotherprofile' name=comment.cmaster %}">View Profile</a><br />{{comment.cmaster}}
                <br />
                <i style="font-size:10px;" class="fa fa-calendar">{{comment.time.date}}</i><i  style="font-size:10px;"class="fa fa-clock-o">{{comment.created.time}}</i><br>
            <i class="fa fa-comment-o"></i><span class="text-center" style="text-align:center;">{{comment.comments}}</div>
           
            <br />{% if comment.cmaster == user %}
            <form class="" action="{% url 'blog:deletecomment2' pk=comment.pk %}" method="get" accept-charset="utf-8">
                <button style="float:right;border-color:transparent;outline:none;background:transparent;"  type=""><i href="{% url 'blog:deletecomment2' pk=comment.pk %}" class="fa fa-trash" style="font-size:35px;color:red;">
                    
                </i></button>
                </form>
                <form action="{% url 'blog:editcomment' pk=comment.pk %}" accept-charset="utf-8">
                 <button style="float:right;border-color:transparent;outline:none;background:transparent;"  type=""><i class="fa fa-edit" style="font-size:35px;color:blue;">
                </i></button>
                </form>
            {% endif %}<br /><hr />
            {% empty %}
             <div class="text-center">
                 <h3>Be the First To Comment
                 </h3>
             </div>
            <hr />
            <hr />
            <hr />
        {% endfor %}
    </div>
        {% if user.is_authenticated %}
            <!--script type="text/javascript">
    $(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type:"GET",
                url:"{% url 'blog:blogcommentall' pk=Blog.pk %}",
                success:function(response){
                    $(".comment").empty();
                    for (var key in response.comment)
                    {
                        var temp = "<div class='card'><br> By" +response.comment[key].cmaster+"<br>" +"On:" + response.comment[key].created+ "<br>" +"Said:" + response.comment[key].comments+"</div>";
                        $(".comment").append(temp);
                        
                    }
                    /*$("#display").empty();
                    for (var key in response.messsag){
                    var texts = "<div class='card'>{% if messag.fuser == user %}<div class='card' style='float:right;'>"response.messag[key].fuser+"</div>{% endif %}You:"+response.messag[key].value + "</div><br>";
                    $("#display").append(texts);
                    }*/
                }
            });
        }, 1000);
    });
</script>
        <!--form id="comments">
            {% csrf_token %}
            <input type="hidden" id="poste" value="{{Blog.pk}}" />
            Comment <br />
            <textarea required="required" class="form-control" id="bpost" rows="8" cols="49"></textarea>
            <button class="form-control btn btn-outline-warning" >Comment</button>
        </form-->
        <div class="card">
        <form class="usercomment">
            {% csrf_token %}
            <input type="hidden" id="poste" value="{{Blog.pk}}" />
            <textarea placeholder="Comment Here..." class="form-control" id="bpost" rows="8" cols="49"></textarea><br />
            <button type="submit" class="form-control btn btn-outline-warning" ><span class="card bg-success">Comment</span></button>
        </form>
        </div><hr />
         <script type="text/javascript">
$(document).on('submit','.usercomment', function(e){
    e.preventDefault();
        $.ajax({
             type:"POST",
             url:"{% url 'blog:blogcomment' %}",
             data:{
                 post:$("#poste").val(),
                 bpost:$("#bpost").val(),
             csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val(),
             },
             success:function(data){
                    alert(data)
                }
          });
          document.querySelector("#bpost").value = "";
      });
</script>
    {% else %}<br />
    <div class=" text-center">
        <a style="font-size:30px;text-decoration:none;" class="text-secondary " href="{% url 'account:login' %}">
            Login
        </a>
        Or 
        <a style="font-size:30px;text-decoration:none;" class=" text-primary" href="{% url 'account:register' %}">
            Register 
        </a> 
    </div><hr />
    {% endif %}
    <div class="card-img-top" >
    {% for Blog in BlogRelated %}
        <!--a href={{Blog.bpic.url}}><img class="img-thumbnail"   style="float:left;height:95px; width:95px; margin-right:10px;"   src="{{Blog.bpic.url}}"   ></a-->
        <div class="" style="float:; margin-top:25px" >
            <small style="margin-left:15px;color:red;" class="fa fa-clock-o">
               {{Blog.created|timesince}} ago </small><br />
            {{Blog.descr|safe|slice:"65"}}.....
            <button style="margin-left:192px;" class="btn btn-outline-primary"><a style="text-decoration:none;color:rgb(233,120,49)" href="{% url 'blog:blogview' title=Blog.btitle headline=Blog.descr pk=Blog.pk %}">Read More</a></button>
        </div><hr class ="clearfix w-100 d-md-none pb-2" style="border-radius:12px;">
    {% endfor %}<br /><br />
<div class="card">
    <div class="card">
        
    
{% endblock %}