{% extends 'Extra/Base.htm' %}
{% load static %}
{% block title %}
	Password Reset Confirm
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<h2 class="jumbotron text-center text-info" >Reset Password</h2>
<h3>Enter your new password</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy}}<br>
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
</form>    
{% endblock %}